@{
    ViewData["Title"] = "About";
}
<div class="row"> 
    <div class="col-sm-2">
    <div class="heading"><b>Information For....</b></div>
    <li class="opt"><a href="">Individuals</a></li>
    <li class="opt"><a href="">Tax Professionals</a></li>
    <li class="opt"><a href="">Charities</a></li>

    <div class="heading"><b>Information About....</b></div>
        <div class="options">
        
                <li class="opt"><a href="">Payroll</a></li>
                <li class="opt"><a href="">Tax</a></li>
                <li class="opt"><a href="">Motor Vehicle & Driver's Lic.</a></li>
                <li class="opt"><a href="">Provisional Driver's Lic.</a></li>
                <li class="opt"><a href="">Rates and Fees</a></li>
                <li class="opt"><a href="">Refunds</a></li>
                <li class="opt"><a href="">TCC</a></li>
                <li class="opt"><a href="">TRN</a></li>
                <li class="opt"><a href="">FATCA</a></li>
                <li class="opt"><a href="">GCT on Government Purchases</a></li>
                <li class="opt"><a href="">Direct Banking</a></li>
                <li class="opt"><a href="">Direct Funds Transfer</a></li>
                <li class="opt"><a href="">Withholding Tax</a></li>
                <li class="opt"><a href="">Transfer Pricing</a></li>
                <li class="opt"><a href="">Charities</a></li>
                <li class="opt"><a href="">Garnishment Policy</a></li>

            <div class="heading"><b>Other Links</b></div>

            <li class="opt"><a href="">Related Sites</a></li>
        </div>
    </div>

    <div class="col-sm-10">
                <div class="hold row container-fluid">
                <img class="hold-img img-fluid" src="~/Images/Constant-Spring-Tax-OfficeA-1200x400.jpg"/> 
                    <div class="overlay1 container-fluid">
                        <p class="charity-words"><b><br/><h1>ABOUT TAJ</h1><br></b></p>
                    </div> 
        </div>
        <div class="row">
            <div class="ccc col-sm-3 container-fluid">Welcome</div>
            <div class="ccc col-sm-3 container-fluid">Corporate Profile</div>
            <div class="ccc col-sm-3 container-fluid">TAJ Organization Chart</div>
            <div class="ccc col-sm-3 container-fluid">Our Offices</div>
            <div class="ccc col-sm-3 container-fluid">Citizen's Charter</div>
            <div class="ccc col-sm-3 container-fluid">History Of Tax Administration</div>
        </div>
    </div>


</div>