@{
    ViewData["Title"] = "Corporate Profile";
}
<div class="row"> 
    <div class="col-sm-2">
    <div class="heading"><b>Information For....</b></div>
    <li class="opt"><a href="">Individuals</a></li>
    <li class="opt"><a href="">Tax Professionals</a></li>
    <li class="opt"><a href="">Charities</a></li>

    <div class="heading"><b>Information About....</b></div>
    <div class="options">
        
            <li class="opt"><a href="">Payroll</a></li>
            <li class="opt"><a href="">Tax</a></li>
            <li class="opt"><a href="">Motor Vehicle & Driver's Lic.</a></li>
            <li class="opt"><a href="">Provisional Driver's Lic.</a></li>
            <li class="opt"><a href="">Rates and Fees</a></li>
            <li class="opt"><a href="">Refunds</a></li>
            <li class="opt"><a href="">TCC</a></li>
            <li class="opt"><a href="">TRN</a></li>
            <li class="opt"><a href="">FATCA</a></li>
            <li class="opt"><a href="">GCT on Government Purchases</a></li>
            <li class="opt"><a href="">Direct Banking</a></li>
            <li class="opt"><a href="">Direct Funds Transfer</a></li>
            <li class="opt"><a href="">Withholding Tax</a></li>
            <li class="opt"><a href="">Transfer Pricing</a></li>
            <li class="opt"><a href="">Charities</a></li>
            <li class="opt"><a href="">Garnishment Policy</a></li>
        
 </div>
 <div class="heading"><b>Other Links</b></div>
        <li class="opt"><a href="">Related Sites</a></li>
</div>

    <div class="col-sm-10">
        <h1>Corporate Profile</h1>
        <p>
             
            Tax Administration Jamaica(TAJ) was established on April 1, 2011 by the Revenue Administration (Amendment) Act 2011, consolidating activities of the former Inland Revenue Department (IRD), Taxpayer Audit and Assessment Department (TAAD) and Tax Administration Services Department (TASD).  TAJ became a Semi-Autonomous Revenue Authority (SARA), effective November 3, 2014 and is now operating under a new governance structure and has a Management Board.  The Chairman is Mrs. Gina Phillips Black.<br/><br/>

            TAJ also has direct report to the Financial Secretary.<br/><br/>

            The TAJ is seeking to transform its operations through human resources, processes, technology and physical infrastructure, to accomplish TAJ’s vision of becoming a World Class Tax Administration<br/><br/>

            <b>TAJ’s Management Team</b>

            Includes the Commissioner General and four Deputy Commissioners General.<br/><br/>

            <b>Commissioner General - Mr.Ainsley Powell</b> is charged with the responsibility of providing strategic leadership and vision, by advancing the direction and charting the way for an efficient and effective Tax Administration, through innovative strategies and linkages to create value that supports the government’s taxation policies.<br/><br/>

            <b>Deputy Commissioner General, Strategic Services Division - Mr. Hank Williams</b>, has the responsibility for directing, managing and coordinating the corporate and strategic planning and policy development functions of TAJ.<br/><br/>

            <b>Deputy Commissioner General, Management Services Division – Mrs. Judith Smith Richards (acting)</b>, Leads the strategic direction and policies relating to the provision of Corporate Services for TAJ.<br/><br/>

            <b>Deputy Commissioner General, Legal Services Division - Miss Janet Scotland (acting)</b>, Provides specialized legal services as it relates to the interpretation, development and enactment of tax legislations, negotiation of treaties & agreements and deliberations in litigation, advisory and research as well as representing the Government of Jamaica in the international arena in relation to tax administration and ensures that tax laws are administered in an equitable and transparent manner. <br/><br/>

            <b>Deputy Commissioner General, Operations - Mr. Dave Jeffery's</b>, Job purpose is to craft key operational strategies for the Division within a tax compliance framework to support an effective Tax Administration.<br/><br/>

            <b>What is the Role of TAJ?</b><br/><br/>

            Tax Administration Jamaica is responsible for the Administration of Domestic Tax.<br/><br/>

            <b>What is TAJ’s Mandate?</b><br/><br/>

            To collect domestic taxes payable in accordance with the law, and to facilitate voluntary compliance and to implement tax laws & policies introduced by the Ministry of Finance & Planning.<br/><br/>

            <b>The organisation has the responsibility to:</b><br/>
            <ul>
                <li>Audit, assess and collect domestic taxes</li>
                <li>Promote voluntary compliance through various service channels and educational programmes</li>
                <li>Enforce tax Laws</li>
                <li>Provide property management services for Tax Offices and Revenue Service Centres</li>
                <li>Maintain a taxpayer registry</li>
                <li>Process Driver’s Licences</li>
                <li>Manage the Motor Vehicle Registry</li>

            </ul>

            <b>TAJ scope of Operations includes:</b>
            <ul>
                <li>The Administration of Domestic Taxes such as Income Tax, General Consumption Tax, Education, Property and Asset Taxes.</li>
                <li>TAJ is the Primary Government Collection Agency</li>
                <li>Provides Document Processing, such as TRN, Compliance Certificates, Driver’s Licence, Motor Vehicle Registration Certificate and Title.</li>
            </ul>
            <b>The Strategic Objectives of TAJ are to:</b>
            <ul>
            <li>Improve Voluntary Compliance, through</li>
            <li>Service</li>
            <li>Education and Enforcement</li>

 
            </ul>
            <b></b>Modernisation, in terms of:
            <ul>
            <li>People</li>
            <li>Processes</li>
            <li>Technology and Physical Infrastructure</li>
            <li>Role and Focus</li>
            </ul>
            <b>As Tax Administration Jamaica pursues its role to foster economic growth and development, by meeting its revenue target, its focus is to:</b>
            <ol>
                <li>Improve service delivery, efficiency and effectiveness</li>

                <li>Simplify administrative & business processes</li>

                <li>Enhance communication & information channels</li>

                <li>Improve voluntary compliance</li>

                <li>Increase collections</li>
            </ol>
            New concepts of operations and compliance strategies have been developed to specifically enhance registration, taxpayer education, arrears management, collections and taxpayer accounting, as well as audit and investigations.  These are all aimed at meeting the objectives of TAJ and ultimately realising its vision.

            Guiding Principles<br/><br/>

            <b>Vision</b><br/><br/>

            A World-Class Tax Administration.<br/><br/>

            <b>Mission</b><br/><br/>

            To collect the revenues due in an equitable and cost effective manner, foster voluntary compliance, provide excellent service to our customers through an engaged and empowered staff.<br/><br/>

            <b>Core Values</b><br/><br/>
            <ul>
                <li>Integrity</li>
                <li>Mutual respect</li>
                <li>Professionalism</li>
                <li>Accountability</li>
                <li>Customer Centric</li>
                <li>Team Work</li>
            </ul>

            Tax Administration Jamaica…working together to serve you EVEN better.
</p>
    </div>
    
</div>

<div class="bg-warning">g</div>


