@{
    ViewData["Title"] = "How To";
}
<div class="row"> 
    <div class="col-sm-2">
    <div class="heading"><b>Information For....</b></div>
    <li class="opt"><a href="">Individuals</a></li>
    <li class="opt"><a href="">Tax Professionals</a></li>
    <li class="opt"><a href="">Charities</a></li>

    <div class="heading"><b>Information About....</b></div>
        <div class="options">
        
                <li class="opt"><a href="">Payroll</a></li>
                <li class="opt"><a href="">Tax</a></li>
                <li class="opt"><a href="">Motor Vehicle & Driver's Lic.</a></li>
                <li class="opt"><a href="">Provisional Driver's Lic.</a></li>
                <li class="opt"><a href="">Rates and Fees</a></li>
                <li class="opt"><a href="">Refunds</a></li>
                <li class="opt"><a href="">TCC</a></li>
                <li class="opt"><a href="">TRN</a></li>
                <li class="opt"><a href="">FATCA</a></li>
                <li class="opt"><a href="">GCT on Government Purchases</a></li>
                <li class="opt"><a href="">Direct Banking</a></li>
                <li class="opt"><a href="">Direct Funds Transfer</a></li>
                <li class="opt"><a href="">Withholding Tax</a></li>
                <li class="opt"><a href="">Transfer Pricing</a></li>
                <li class="opt"><a href="">Charities</a></li>
                <li class="opt"><a href="">Garnishment Policy</a></li>

            <div class="heading"><b>Other Links</b></div>
            <li class="opt"><a href="">Related Sites</a></li>
        </div>
    </div>

    <div class="col-sm-10">
        <div class="hold row container-fluid">
              <img class="hold-img img-fluid" src="~/Images/Constant-Spring-Tax-OfficeA-1200x400.jpg"/> 
               <div class="overlay1 container-fluid">
                    <p class="charity-words"><b><br/><h1>HOW TO...</h1><br></b></p>
               </div> 
        </div>
        <div class="row">
            <div class="ccc col-sm-3 container-fluid">How to Register for GCT Online </div>
            <div class="ccc col-sm-3 container-fluid">How to Generate a Direct Funds Transfer (DFT) Number</div>
            <div class="ccc col-sm-3 container-fluid">How to Generate and Print Receipts </div>
            <div class="ccc col-sm-3 container-fluid">How to Make Online Payment for Driver's Licence Renewal</div>
            <div class="ccc col-sm-3 container-fluid">Apply for Specified Services Exemption on eServices</div>
            <div class="ccc col-sm-3 container-fluid">File and Pay Trade and Business License Online</div>
            <div class="ccc col-sm-3 container-fluid">How to Request Travelling Allowance on eServices</div>
            <div class="ccc col-sm-3 container-fluid">How to Request Permitted Account period on eServices</div>
            <div class="ccc col-sm-3 container-fluid">How to Submit Employee(s) P45</div>           
            <div class="ccc col-sm-3 container-fluid">File S01 Return (As of April 2020)</div>
            <div class="ccc col-sm-3 container-fluid">How to File Income Tax & Asset Tax Returns online</div>
            <div class="ccc col-sm-3 container-fluid">How to generate Payment Advice online</div>
            <div class="ccc col-sm-3 container-fluid">History Of Tax Administration</div>
            <div class="ccc col-sm-3 container-fluid">PAY for your Fitness Fee Online</div>
            <div class="ccc col-sm-3 container-fluid">Use RAiS eServices</div>
            <div class="ccc col-sm-3 container-fluid">PayTraffic Tickets Online</div>
            <div class="ccc col-sm-3 container-fluid">Apply for GCT Deferment</div>
            <div class="ccc col-sm-3 container-fluid">File a Consumption Tax Return Online</div>
            <div class="ccc col-sm-3 container-fluid">Apply for Refund (Diplomats)</div>
            <div class="ccc col-sm-3 container-fluid">Pay Property Tax Online</div>
            <div class="ccc col-sm-3 container-fluid">Submit Zero Rating Request Online</div>
            <div class="ccc col-sm-3 container-fluid">Validate a Zero Rated Approval Letter</div>
            <div class="ccc col-sm-3 container-fluid">Process a Tax Compliance Certificate (TCC [Advisory])</div>
            <div class="ccc col-sm-3 container-fluid">Request an Advisory Visit</div>
            <div class="ccc col-sm-3 container-fluid">Apply for a Taxpayer Registration Number (TRN Online)</div>
            <div class="ccc col-sm-3 container-fluid">Apply for an eServices Account</div>
            <div class="ccc col-sm-3 container-fluid">Check Refund Status</div>
            <div class="ccc col-sm-3 container-fluid">Make a Payment</div>
            <div class="ccc col-sm-3 container-fluid">Access Non-Logon Validation Services</div>
            <div class="ccc col-sm-3 container-fluid">Search for a Saved Request</div>
            <div class="ccc col-sm-3 container-fluid">File S02 Online</div>
            <div class="ccc col-sm-3 container-fluid">Manage Withholding Tax Certificates</div>
            <div class="ccc col-sm-3 container-fluid">Guide - Withholding Tax Certificates Excel Upload Rules</div>
            <div class="ccc col-sm-3 container-fluid">Identify Error from "WTH Tax Certificates Greater than 500 records" Certificate Requests</div>
            <div class="ccc col-sm-3 container-fluid">RAiS eServices Update 2018</div>

        </div>
    </div>
</div>